.sidebar{

width:250px;

height:100vh;

background:#0f172a;

position:fixed;

left:0;

top:0;

padding:25px;

box-sizing:border-box;

color:white;

box-shadow:4px 0 15px rgba(0,0,0,0.25);

}



.logo{

text-align:center;

font-size:26px;

font-weight:bold;

margin-bottom:40px;

color:#ffffff;

}



.sidebar ul{

list-style:none;

padding:0;

margin:0;

}



.sidebar li{

padding:15px 18px;

margin-bottom:14px;

border-radius:14px;

cursor:pointer;

font-size:17px;

color:#cbd5e1;

transition:all 0.3s ease;

}



.sidebar li:hover{

background:#1e293b;

color:white;

transform:translateX(5px);

}



.sidebar li.active{

background:#2563eb;

color:white;

font-weight:bold;

box-shadow:0 4px 15px rgba(37,99,235,0.4);

}



.logout{

margin-top:40px;

color:#ef4444;

font-weight:bold;

}



.logout:hover{

background:#450a0a;

color:white;

transform:translateX(5px);

}
.search-box{

display:flex;

align-items:center;

gap:18px;

flex-wrap:wrap;

}


.search-input-wrapper{

display:flex;

align-items:center;

background:#ffffff;

padding:0 18px;

border-radius:18px;

height:58px;

width:420px;

box-shadow:0 8px 20px rgba(0,0,0,0.15);

}


.search-icon{

font-size:22px;

margin-right:12px;

color:#64748b;

}


.search-input-wrapper input{

border:none;

outline:none;

width:100%;

font-size:18px;

background:transparent;

color:#111827;

}


.search-input-wrapper input::placeholder{

color:#94a3b8;

}


.search-btn{

height:58px;

padding:0 28px;

border:none;

border-radius:18px;

font-size:18px;

font-weight:600;

cursor:pointer;

background:linear-gradient(

135deg,

#2563eb,
var(--accent)

);

color:white;

box-shadow:0 8px 20px rgba(37,99,235,0.35);

transition:0.3s;

}


.search-btn:hover{

transform:translateY(-3px);

box-shadow:0 12px 25px rgba(37,99,235,0.45);

}
.app{

margin-left:270px;

padding:30px;

min-height:100vh;

background:#111827;

box-sizing:border-box;

}