.theme-btn{

    display:flex;

    align-items:center;

    justify-content:center;

    gap:10px;

    padding:12px 20px;

    border:none;

    border-radius:14px;

    cursor:pointer;

    background:var(--card);

    color:var(--text);

    border:1px solid var(--border);

    backdrop-filter:blur(20px);

    -webkit-backdrop-filter:blur(20px);

    box-shadow:0 8px 24px rgba(0,0,0,.18);

    transition:.3s;

    font-weight:600;

}

.theme-btn:hover{

    transform:translateY(-3px);

    box-shadow:0 15px 30px rgba(0,0,0,.25);

}

.theme-icon{

    font-size:22px;

    transition:.5s;

}

.theme-btn:hover .theme-icon{

    transform:rotate(180deg);

}

.theme-text{

    font-size:15px;

}

@media(max-width:768px){

    .theme-btn{

        width:100%;

    }

}