.weather-bg{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

z-index:0;

pointer-events:none;

overflow:hidden;

}
.sun{

position:absolute;

top:60px;

right:120px;

width:180px;

height:180px;

border-radius:50%;

background:#fde047;

opacity:0.95;

box-shadow:

0 0 80px #fde047,

0 0 160px #facc15,

0 0 260px #facc15;

animation:

floatSun

5s ease-in-out infinite;

}

@keyframes floatSun{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-20px);

}

100%{

transform:translateY(0);

}

}





.cloud{

position:absolute;

width:220px;

height:70px;

background:

rgba(

255,

255,

255,

0.25

);

border-radius:50px;

backdrop-filter:blur(10px);

}



.cloud1{

top:120px;

left:5%;

animation:

moveCloud

35s linear infinite;

}



.cloud2{

top:220px;

left:40%;

animation:

moveCloud

50s linear infinite;

}



.cloud3{

top:150px;

left:75%;

animation:

moveCloud

40s linear infinite;

}



@keyframes moveCloud{

from{

transform:

translateX(-100px);

}



to{

transform:

translateX(150px);

}

}





.rain-container{

width:100%;

height:100%;

position:absolute;

}



.raindrop{

position:absolute;

top:-30px;

width:2px;

height:20px;

background:

rgba(

255,

255,

255,

0.7

);

animation:

rain

1s linear infinite;

}



@keyframes rain{

to{

transform:

translateY(100vh);

}

}





.fog{

width:100%;

height:100%;

background:

rgba(

255,

255,

255,

0.08

);

backdrop-filter:

blur(12px);

}





.moon{

position:absolute;

top:80px;

right:120px;

width:120px;

height:120px;

border-radius:50%;

background:#f8fafc;

box-shadow:

0 0 100px white;

}





.star{

position:absolute;

width:4px;

height:4px;

background:white;

border-radius:50%;

animation:

twinkle

2s infinite alternate;

}



@keyframes twinkle{

from{

opacity:0.3;

}

to{

opacity:1;

}

}