.dark{

--bg:#071225;

--bg2:#0f172a;

--card:rgba(255,255,255,0.08);

--card2:#16233d;

--text:#ffffff;

--secondary:#cbd5e1;

--border:rgba(255,255,255,0.12);

--hover:#24354f;

}



.light{

--bg:#f8fafc;

--bg2:#ffffff;

--card:rgba(255,255,255,0.75);

--card2:#ffffff;

--text:#0f172a;

--secondary:#475569;

--border:#e2e8f0;

--hover:#f1f5f9;

}